td {
  vertical-align:top;

}

#caption {
  font-weight:bold;
  font-size:small;
  font-variant:small-caps;
  padding-bottom:2px;
  margin-bottom:2px;
}

#head {
  border:thin solid grey;
  background-color: #aaaaaa;
  
  //width:100%;
  margin:0px;
  padding:10px;
}

#title {
  text-align:center;
  font-size:large;
  font-weight:bold;
  
}

#nav {
  font-size:small;
}

#searchform {

  //border:thin solid grey;
  
  width:100%;
  text-align:center;
  
  padding-top:20px;
  padding-bottom:20px;

}
