td {
  vertical-align:top;

}

a:link { 
    color:blue; text-decoration:none; 
    }
a:visited { 
    color:blue; text-decoration:none; 
    }
a:focus { 
    color:blue; text-decoration:none; 
    }
a:hover { 
    color:blue; text-decoration:underline; 
    }
a:active { 
    color:blue; text-decoration:none; 
    }


#caption {
  font-weight:bold;
  font-size:small;
  font-variant:small-caps;
  padding-bottom:2px;
  margin-bottom:2px;
}

#head {
  border:thin solid grey;
  //background-color: #aaaaaa;
  background-image:url(head.png);
  background-repeat:repeat;
  
  //width:100%;
  margin:0px;
  padding:10px;
  height:50px;
}

#title {
  text-align:center;
  font-size:large;
  font-weight:bold;
  
}

#nav {
  font-size:small;
}

#searchform {

  //border:thin solid grey;
  
  width:100%;
  text-align:center;
  
  padding-top:20px;
  padding-bottom:20px;

}

#search_item {
  background-color:#fdfdfd;
  border: thin solid gray; 
  padding:10px; 
  margin:10px
}